<nz-progress [nzPercent]="30"></nz-progress>
<nz-progress [nzPercent]="50" nzStatus="active"></nz-progress>
<nz-progress [nzPercent]="70" nzStatus="exception"></nz-progress>
<nz-progress [nzPercent]="100"></nz-progress>
<nz-progress [nzPercent]="50" [nzShowInfo]="false"></nz-progress>

<!--<br>-->
<!--<br>-->
<!--<br>-->

<!--<nz-progress [nzPercent]="75" nzType="circle" [nzWidth]="80"></nz-progress>-->
<!--<nz-progress [nzPercent]="70" nzType="circle" [nzWidth]="80" nzStatus="exception"></nz-progress>-->
<!--<nz-progress [nzPercent]="100" nzType="circle" [nzWidth]="80"></nz-progress>-->

<!--<br>-->
<!--<br>-->
<!--<br>-->

<!--<nz-progress [nzPercent]="percent" nzType="circle"></nz-progress>-->
<!--<nz-button-group>-->
  <!--<button nz-button (click)="decline()"><i nz-icon type="minus"></i></button>-->
  <!--<button nz-button (click)="increase()"><i nz-icon type="plus"></i></button>-->
<!--</nz-button-group>-->
