<div class="icons-list">
  <!-- 基本使用 -->
  <i nz-icon [type]="'home'"></i>
  <i nz-icon [type]="'setting'" [theme]="'fill'"></i>
  <i nz-icon [type]="'smile'" [theme]="'outline'"></i>
  <i nz-icon [type]="'sync'" [spin]="true"></i>
  <!-- Loading with new API would spin automatically! -->
  <i nz-icon [type]="'loading'"></i>
  <i nz-icon type="pie-chart" [theme]="outline"></i>
  <i nz-icon type="down" [theme]="outline"></i>
  <!-- 多色图标 -->
  <i nz-icon [type]="'smile'" [theme]="'twotone'"></i>
  <i nz-icon [type]="'heart'" [theme]="'twotone'" [twoToneColor]="'#eb2f96'"></i>
  <i nz-icon [type]="'check-circle'" [theme]="'twotone'" [twoToneColor]="'#52c41a'"></i>
</div>
